.App {
  text-align: center;
}

body{
  font-family: 'Spartan', sans-serif;
  background: hsl(180, 30%, 89%)
}

.header{
  background-color: teal;
}

.job-listing{
  background: white;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  padding: 20px 30px 20px 15px;
}

@media only screen and (max-width: 400px) {
  body{
    background-color: rgb(2, 24, 31);
  }
  .job-listing {
    background-color: rgb(237, 242, 243);
    width: 90%;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px 10px;
    text-align: center;
    padding: 5px 15px;
  }
}

.job-listing:hover {
  box-shadow: 0 4px 8px 0 #92a8d1, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left-style: solid;
  border-left-color: #466194;
}

.company-logo{
  align-self: center;
  width: 15%;
}

.job-details{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 50%;
}

@media only screen and (max-width: 400px) {
  .job-details{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 90%;
  }
}
.job-details-company, .job-details-misc{
  display: flex;
  flex-direction: row;
}

.label-new {
margin-left: 10px;
font-size: 12px;
background-color: hsl(180, 29%, 50%);
border-radius: 13px;
color: aliceblue;
padding: 2px 8px;
line-height: 23px;
height: 23px;
font-weight: bolder;
align-self: center;
}

.label-featured{
  margin-left: 10px;
  font-size: 12px;
  background-color: black;
  border-radius: 13px;
  color: aliceblue;
  padding: 2px 8px;
  line-height: 23px;
  height: 23px;
  font-weight: bolder;
  align-self: center;
}

.job-company-name{
font-size: 20px;
color: hsl(180, 29%, 50%);
font-weight: bolder;
padding: 8px 0;
align-self: center;
}

.job-details-position{
color: hsl(180, 29%, 50%);
text-align: left;
font-size: 20px;
font-weight: bold;
margin: 10px 0;
}

.job-details-misc div{
  padding-right: 15px;
  color: hsl(180, 8%, 52%);
}

.programming-languages{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
  margin: auto;
  width: 35%;
}

.language-buttons{
  background-color: hsl(180, 36%, 88%);
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  color: hsl(180, 8%, 52%);
  font-weight: bolder;
  margin-left: 1rem;
}

@media only screen and (max-width: 400px) {
  .language-buttons{
    margin: 10px 5px;
    text-align: center;
  }
}

.language-buttons:hover {
  background-color: hsl(180, 8%, 52%);
  color: white;
}

